body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(./pngtree-modern-double-colors-neon-lights-on-brick-background-picture-image_1170045.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
